button {
    background-color: rgba(255, 255, 255, 0.1);
    width: 60px;
    height: 60px;
    font-size: 4rem;
    color:#EEEEEE;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    overflow: hidden
  }
  
  button:hover {
    background-color: #00ADB5;
    transition: background-color 0.3s ease;
  }

.fullBoard {
    width: 10rem;
    margin: auto;
    border:1px solid white;
    display: grid; 
    grid-template-columns: auto auto auto;
}
  
  
  
  
@media screen and (min-width: 710px) {
    .fullBoard {
        margin: auto;
        width:35.5rem;
        border:1px solid white;
        display: grid; 
        grid-template-columns: auto auto auto;
        }
    button {
        width: 60px;
        height: 60px;
        font-size: 3rem;
        color:#EEEEEE; 
        border: 1px solid black;
        cursor: pointer;
        outline: none;
        overflow: hidden;
    }
}